.navbar {
  height: 70px;
  border-bottom: solid;
  border-color: #A3C0FA;
  border-width: 0.01px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-icon {
  width: 22px;
  margin-top: 5px;
  margin-right: 2px;
  align-items: flex-start;
}

.navbar-logo {
  color: #4B7FE8;
  text-decoration: solid;
  font-size: 22px;
  align-items: flex-start;
}

.toggle-button {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}

.nav-items {
  display: grid;
  color: #4C3782;
  text-decoration: none;
  grid-template-columns: repeat(5, auto);
  grid-gap: 30px;
  list-style: none;
  text-align: center;
  justify-content: end;
  width: 70vw;
  margin-right: 2rem;
  font-size: 18px;
  font-style: normal;
}

a {
  text-decoration: none;
  color: #4C3782;
}

.try-it-free {
  border: solid;
  border-color:#4C3782;
  border-width: 2px;
  border-radius: 25px;
  padding: 5px 30px;
  color: #4B7FE8;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  font-style: normal;
}

@media all and (max-width: 750px) {
  .navbar {
    justify-content: flex-start;
    padding: 10px;
  }
  .toggle-button {
    display: flex;
  }

  .nav-items {
    display: none;
    width: 100%;
    flex-direction: column;
    text-align: center;
  }
}